.bg-animation {
  background: radial-gradient(circle, rgba(240, 245, 255, 0.8) 0%, rgba(240, 245, 255, 0) 60%);
  animation: rotate 20s infinite linear;
  background-size: 200% 200%;
  
}

.bg-animations {
  position: absolute;
  inset: 0;
  animation: rotate 20s infinite linear;
  background: url("../../Asset/imagesWeb/background_animation.png") no-repeat center center/cover;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(13%, 13%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
